@mixin clearfix { //appends a pseudo element after the element which will then clear the floats
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// centers an element, its parent needs to be relative, remember
@mixin centerAbsoluteXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}