.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // fix the white space of the above polygon;
}

.section-features {
    padding: 20rem 0;
    background-position: top;
    background-size: cover;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, .801),
    rgba($color-primary-dark, .801)),
    url(../img/nat-4.jpg);

    margin-top: -10rem;
    //clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

    transform: skewY(-7deg); //the other option is clip-path;
    // all of the direct children are 'corrected'
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -20vh;
}