.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content { // the flex container
    display: flex;
}

// flex items
.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    //along with 'display' and 'flex-direction', generates a space between elements along the vertical axis in the container.
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    
    // TEST
    height: 80rem;

    flex: 1; // uses all remaining available space.
}
/////////////