.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;

        // if the font-size decrease, we don't want see the background ever again
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content { // the flex container
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

// flex items
.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    //along with 'display' and 'flex-direction', generates a space between elements along the vertical axis in the container.
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1; // uses all remaining available space.
}
/////////////

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
}

.description {
    font-size: 1.4rem;
    background: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; // to cover 60% of the area;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
}

.user-reviews {
    //background: yellowgreen;
    flex: 1; // occupies the reamining space;

    display: flex;
    flex-direction: column;
    align-items: center;
}