/* Complex Animations */
@keyframes moveInLeft { /* a descriptive name */
    /* the element when the animation starts */
    0% {
        opacity: 0; /* invisible */
        transform: translateX(-10rem); /* a -100px(left) from its placed position */
    }

    80% {
        transform: translateX(1rem);
    }

    /* the element when the animation finishes */
    100% {
        opacity: 1;
        transform: translate(0); /* 0 means back to the its given position */
    }
}

@keyframes moveInRight { 
    0% {
        opacity: 0;
        transform: translateX(10rem); 
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);  
    }
}

@keyframes moveInBottom { 
    0% {
        opacity: 0;
        transform: translateY(3rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0);  
    }
}

@keyframes scaleCoverScreen { 
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(20); 
    }

    40% {
        transform: scale(40); 
    }

    60% {
        transform: scale(60); 
    }

    100% {
        transform: scale(80); 
    }
}