.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end; // its delimited area set in '_base.scss';
    grid-row: 1 / -1; // start from beginning to the end of the page;
}