.navigation {

    // REMEMBER: this cannot be styled, so it is hidden and only its functionality 
    // will still serve its purpose, as it is bound to a label(which can be styled :DDD);
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem; // bigger than the navigation__background to completely cover it
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;
        text-align: center;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed; // gets fixed on the page when scrolling
        top: 6.5rem;
        right: 6.5rem;
        // The radial gradient starts from the middle of the element and expands from it
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        // REMEMBER: z-index only works if position is defined, like in this case where it is set as 'fixed'
        z-index: 1000;

        -webkit-transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); // check easings.net
    }

    &__nav {
        height: 100vh; // the entire page;
        position: fixed; // it is also absolute;
        top: 0;
        z-index: 1500;

        // making the nav invisible/"turned off"
        opacity: 0;
        width: 0;
        right: -10%;

        -webkit-transition: opacity .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: opacity .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        list-style: none;
        text-align: center;

        @include centerAbsoluteXY;
    }

    &__item {
        margin: 1.5rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block; // to receive the following things that change margin and padding.
            font-size: 3rem; // font-size is the size of the letter.
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%); // solid gradient
            background-size: 230%; // affects the background image size hehe :D
            transition: all 0.4s;
            backface-visibility: hidden;
        }

        span {
            display: inline-block;
            margin-right: 1rem;
        }

        &:hover,
        &:active {
            transform: translateX(1rem);
            color: $color-primary;
            background-position: 100%; // and here we reajust the position of the background making the 'replacement' background effect;
        }
    }

    // FUNCTIONALITY
    // when checkbox checked, background expands.
    &__checkbox:checked ~ &__background {
        transform: scale(80);
        //animation: scaleCoverScreen 1s ease-out;
    }

    // when checkbox checked, show the nav list. :D
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        right: 0;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.3rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: .3rem;
            background-color: $color-gray-dark-3;
            display: inline-block;
        }

        // a copy of the element itself that will be before and after in this case;
        &::before,
        &::after {
            // REMEMBER, in order to the '::before' and '::after' to work, it needs 'content'
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.9rem; } // transform-origin: right; changes the anchor to the right instead of the middle
        &::after { top: .9rem; }
    }

    &__button:hover &__icon::before {
        top: -1.1rem;
    }

    &__button:hover &__icon::after {
        top: 1.1rem;
    }

    // ICON ANIMATION
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg); // 180 - 45
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}